
<!-- ================================================================================= -->
		<div>
			<p class="craftHeader">Enter your original craft below</p>	
		
			<form class="col-sm-8 col-sm-offset-2" ng-submit="createCraft()">
			    
			    <div class="form-group craftform">
			        <label for="craftName">Craft Name:</label>
			        <input ng-model="newCraft.craftName"type="text" class="form-control" id="craftName" placeholder="Enter name of craft" >
			    </div><br/>
			    
			    <div class="form-group craftform">
			        <label for="craftMaterials">Materials:</label>
			        <textarea ng-model="newCraft.craftMaterials"type="text" class="form-control" id="craftMaterials" placeholder="Enter materials (with amount) AND separate materials with a COMMA..." ></textarea>
			    </div><br/>
			    
			    <div class="form-group craftform" >
			        <label for="craftInstructions">Instructions:</label>
			        <textarea ng-model="object.step"ng-repeat="object in newCraft.steps" type="text" class="form-control" id="craftInstructions" placeholder="Enter one step in each box"></textarea><br/>
			        <button class="btn btn-small btn-default pull-right" ng-click="add()">Add a Step</button>
			    </div><br/>
			    
			    <div>
			    	<label for="craftPic">Paste URL for picture of your craft! (required):</label>
			    	<input ng-model="newCraft.craftThumbnail"type="text" name="craftPic">
			    	<p>Don't have a URL for your photo? Upload it <a href="http://postimage.org/" target="_blank">here</a>, and paste the 'Direct Link' in the box above.</p>
			    </div><br/>
			    
			    <button type="submit" class="btn btn-default craftSubmitBtn pull-right" ng-click="">Submit</button>

			</form>
		</div>